<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs') %>
        <section>
        <% for(product of products) { %>
                <div class="card">
                <h3><%= product.title %></h3>
                <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                <p><%= product.description %></p>
                <p>$<%= product.price %></p>
                <a href="/admin/edit-product-view/<%= product.id %>" class="btn">Edit</a>
                <form action="/admin/delete-product" method="POST">
                        <input type="hidden" value="<%= product.id %>" name="productId">
                        <button class="btn" type="submit">Delete</button>
                </form>
                </div>
        <% } %>
        </section>

<%- include('../includes/end.ejs') %>